@import 'zeroing';
@import 'variables';

html {
  scroll-behavior: smooth;
}
body{
  background: $secondaryColor;
  overflow-x: hidden;
}
.main{
  overflow: visible;
}

*{
  font-family: 'Roboto', sans-serif;
  color: $textColor;
  line-height: 150%;
  @include adaptiveFont(16,14);
}
*::selection{
  background: #E89F71;
  color: #ffffff;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1.5px;
}
svg{
  cursor: pointer;
}
.dash{
  border: 0.5px solid $textColor;
  height: 1px;
  width: 27px;
  display: inline-block;
  vertical-align: middle;
}
.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.wrapper {
  max-width: #{$maxWidth}px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  position: relative;
  z-index: 5;
  &__main {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    flex: 1 1 auto;
  }

  &__logo {
    color: #000000;
  }

  &__profile {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}
.burgerMenu{
  &__btn{
    display: none;
  }
}
.logo {
  font-weight: 700;
  @include adaptiveFont(24, 20);
}

.navbar {
  &__items {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
    li{
      padding: 12px;
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 500;
      color: #3a3a3a;
      @include adaptiveFont(16,14);
    }
  }
}

.arrow{
  transition: inherit;
}
.arrow_btn{
  background: $primaryColor;
  padding: 12px;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submenu {
  transition: all .2s ease 0s;
  &__items{
    height: 0;
    position: absolute;
    top: 45px;
    right: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(15.5px);
    display: flex;
    flex-direction: column;
    transition: height .2s ease 0s;
    overflow: hidden;
  }
  &:hover{
    background: rgba(255, 255, 255, 0.72);
  }
  &:hover > &__items{
    height: auto;
  }
  &:hover > .arrow{
    transform: rotateX(180deg);
  }
}

.searchbar {
  position: relative;
  display: flex;
  align-items: center;
  background: $secondaryColor;
  max-width: 473px;
  flex: 1 1 auto;
  margin-right: 10.5%;
  &:before{
    content: url("../assets/svg/search.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translate(0,-50%);
    cursor: pointer;
  }

  &__input {
    padding: 12px 12px 12px 44px;
    outline: none;
    border: none;
    width: 100%;
    min-width: 168px;
    text-overflow: ellipsis;
  }
}

.profile {
  &__avatar {
    width: 40px;
    height: 40px;
  }
}

.about {
  background: linear-gradient(to right, #F9F1E7 60%, #FCF8F3 40%);
  //position: absolute;
  margin-left: min(-20px,(100vw - 1240px)/(-2));
  margin-right: min(-20px,(100vw - 1240px)/(-2));
  margin-top: -148px;
  width: 100vw;
  height: fit-content;
  padding-top: 140px;
  padding-right: max(20px,calc((100vw - 1240px)/2));
  padding-left: max(20px,calc((100vw - 1240px)/2));
  overflow: hidden;
  display: flex;
  gap: 32px;
}

.quality {
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(15.5px);
  @include adaptiveFont(56,24);
  @include adaptiveValue(padding,50,20);
  margin-bottom: 24px;
  @media (min-width: 1440px){
    padding: 60px;
  }
  //padding: 1em;
  width: fit-content;
  max-width: 494px;
  height: fit-content;
  //max-height: 553px;
  position: relative;
  z-index: 2;
  &__header {
    font-weight: 700;
    line-height: 120%;
    @include adaptiveFont(56, 24);
    color: $headerColor;
    margin-bottom: 16px;
  }

  &__description {
    font-weight: 500;
    @include adaptiveFont(20,16);
    @include adaptiveValue(margin-bottom,48,16);
  }
  .btnOrange{
    padding: 1.5em;
  }
}

.btn {
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  font-weight: 600;
}

.btnOrange {
  background: $primaryColor;
  color: $secondaryColor;
}
.btnOrangeBor {
  background: $secondaryColor;
  color: $primaryColor;
  border: solid 1px $primaryColor;
}
.btnWhite {
  background: $secondaryColor;
  color: $primaryColor;
}
.slide__img{
  object-fit: cover;
  width: 100%;
}
.swiper{
  position: absolute;
  //top: 28.553vh;
  top: 66px;
  bottom: 0;
  right: 0;
  //right: max(20px,calc((100vw - 1240px)/2));
  width: 64.861vw;
  height: 71.447vh;
  //max-width: 934px;
  //max-height: 553px;
  overflow: visible;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.swiper-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
}
.swiper-controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 84vh;

  .swiper-pagination{
    width: fit-content;
    display: flex;
    gap: 20px;
    z-index: 1;
  }
  .swiper-pagination-bullet{
    width: 11px;
    height: 11px;
    background: $textColor;
  }
  .swiper-pagination-bullet-active{
    background: $primaryColor;
    outline: solid 1px $primaryColor;
    outline-offset: 8px;
  }
  .swiper-buttons{
    display: flex;
    gap: 8px;
    z-index: 1;
  }
  .swiper-buttons > *._active{
    background: $primaryColor;
    svg{
      path{
        stroke: $secondaryColor;
      }
    }
  }
  .swiper-button-prev, .swiper-button-next{
    border-radius: 50px;
    background: rgba(232, 159, 113, 0.3);
    padding: 12px 10px;
    width: fit-content;
    transition: all .3s ease 0s;
    user-select: none;
  }
}
.swiper-pagination,.swiper-button-prev,.swiper-button-next{
  position: relative;
  inset: 0;
  padding: 0;
  margin: 0;
}
.slide {
  &__info {
    position: absolute;
    @include adaptiveValue(right,40,16);
    @include adaptiveValue(bottom,40,16);
    //right: 40px;
    //bottom: 40px;
    padding: 24px;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(15.5px);
  }
}
.swiper-slide{
  position: relative;
  height: fit-content;
}
.info {
  &__header {
    font-weight: 600;
    @include adaptiveFont(28,20);
    color: $headerColor;
  }

  &__desc {
  }

  &__price {
    font-weight: 600;
    font-size: 20px;
    @include adaptiveFont(20,16);
    color: $headerColor;
    display: flex;
    align-items: center;
    gap: 6.458vw;
  }
}
.merits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 88px;
  &__item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }
}

.item {
  &__text {
  }

  &__header {
    font-weight: 600;
    @include adaptiveFont(18,14);
    color: $headerColor;
  }

  &__description {
  }
}
.products {
  margin-top: 88px;
  &__header {
    font-weight: 700;
    @include adaptiveFont(40,24);
    color: $headerColor;
    text-align: center;
    margin-bottom: 32px;
  }

  &__container {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  }
  .btnOrangeBor{
    width: fit-content;
    margin: 32px auto;
    padding: 12px 82px;
  }
}

.product {
  &__card {
    position: relative;
    width: fit-content;
    &:hover{
      .card__bg{
        opacity: 1;
      }
    }
  }

  &__status {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50px;
    text-align: center;
    padding: 12px 5px;
    color: $secondaryColor;
    font-weight: 500;
  }
}

.status {
  &_discount {
    background: $redAccent;
  }
}

.card {
  &__img {
  }

  &__text {
    padding: 16px;
    background: #F4F5F7;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__header {
    font-weight: 600;
    @include adaptiveFont(24,16);
    color: $headerColor;
  }

  &__description {
  }

  &__price {
    display: flex;
    gap: 16px;
  }
  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    background: rgba(58, 58, 58, 0.72);
    padding: 42px;
    opacity: 0;
    transition: all .3s ease 0s;
  }
  &__actions{
    display: flex;
    gap: 48px;
    & > *{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      cursor: pointer;
    }
  }
}

.action__text{
  font-weight: 600;
  @include adaptiveFont(16,12);
  color: $secondaryColor;
}
.current {
  &_price {
    font-weight: 600;
    @include adaptiveFont(20,14);
    color: $headerColor;
  }
}

.old {
  &_price {
    font-weight: 400;
    @include adaptiveFont(16,12);
    color: #B0B0B0;
    text-decoration: line-through;
  }
}

.inspiration {
  display: flex;
  background: #FCF8F3;
  width: 100vw;
  margin-left: min(-20px,(100vw - 1240px)/(-2));
  padding: 44px;
  padding-right: max(20px,(100vw - 1240px)/2);
  position: relative;
  padding-left: 0;
  overflow: hidden;
  &__info {
    flex: 45%;
    z-index: 2;
    background: inherit;
    padding-left: max(20px,(100vw - 1240px)/2);
    padding-right: max(20px,(100vw - 1240px)/2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1px;
  }

  &__header {
    font-weight: 700;
    @include adaptiveFont(40,24);
    color: $headerColor;
  }

  &__description {
    margin-top: 8px;
    color: #616161;
  }
  .btnOrange {
    margin-top: 24px;
    padding: 12px 40px;
    width: fit-content;
  }
  &__slider{
    width: fit-content;
    flex: 55%;
    .swiper{
      position: relative;
      inset: 0;
      margin: 0;
      height: 75.194vh;
      width: 25.833vw;
    }
    .swiper-button-prev{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%,-50%);
      background: $secondaryColor;
      border-radius: 50px;
      padding: 12px 10px;
      width: fit-content;
    }
    .swiper-button-next{
      position: absolute;
      top: 50%;
      left: auto;
      right: 0;
      transform: translate(50%, -50%);
      background: $secondaryColor;
      border-radius: 50px;
      padding: 12px 10px;
      width: fit-content;
    }
    .swiper-pagination{
      width: fit-content;
      display: flex;
      gap: 20px;
      z-index: 1;
      position: absolute;
      inset: unset;
      bottom: 3.747vh;
      height: fit-content;
      right: 15.625vw;
    }
    .swiper-slide{
      height: 62.791vh;
      transition: height .3s ease 0s;
      &-active{
        height: 100%;
      }
      .slide__img{
        height: 100%;
      }
    }
  }
  .slide__info{
    inset: unset;
    bottom: 24px;
    left: 24px;
    padding: 32px;
  }
  .info__desc{
    white-space: nowrap;
  }
  .arrow_btn{
    position: absolute;
    right: -48px;
    bottom: 0;
  }
}
.swiper-button-prev, .swiper-button-next{
  background: $secondaryColor;
  border-radius: 50px;
  padding: 12px 10px;
  width: fit-content;
}

.swiper-pagination-bullet{
  width: 11px;
  height: 11px;
  background: $textColor;
}
.swiper-pagination-bullet-active{
  background: $primaryColor;
  outline: solid 1px $primaryColor;
  outline-offset: 8px;
}
.swiper-pagination{
  height: fit-content;
  width: fit-content;
  display: flex;
  gap: 20px;
}
.tips {
  margin-bottom: 44px;
  &__header {
    font-weight: 700;
    @include adaptiveFont(40,24);
    color: $headerColor;
    text-align: center;
    margin-top: 44px;
  }

  &__slider {
    margin-top: 32px;
    position: relative;
    .swiper{
      position: relative;
      overflow: hidden;
      margin: 0;
      width: 100%;
      inset: 0;
      height: fit-content;
      padding-bottom: 10px;
    }
    .swiper-slide{
      height: fit-content;
    }
    .swiper-slide-next{
      box-shadow: 0 5px 25px #6161611a;
    }
    .slide__info{
      position: relative;
      inset: 0;
      background: $secondaryColor;
      backdrop-filter: unset;
    }
    .info{
      &__header{
        @include adaptiveFont(24,16);
      }
    }
  }
  .swiper-button-prev{
    position: absolute;
    top: 45%;
    left: 0;
    margin: 0;
    transform: translate(-50%,-50%);
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
  }
  .swiper-button-next{
    position: absolute;
    top: 45%;
    left: auto;
    right: 0;
    margin: 0;
    transform: translate(50%,-50%);
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
  }
  .swiper-pagination{
    justify-content: center;
    inset: 0;
    margin: 0;
    margin-top: 43px;
   }
}
.gallery {
  text-align: center;
  position: relative;
  height: fit-content;
  //height: fit-content;
  &__label {
    font-weight: 600;
    font-size: 20px;
    color: #616161;
  }

  &__header {
    font-weight: 700;
    font-size: 40px;
    color: $headerColor;
  }
  &__wrapper{
    position: relative;
    height: 721px;
    overflow-x: scroll;
    //overflow-y: hidden;
    width: 100vw;
    margin-left: min(-20px,(100vw - 1240px)/(-2));
    margin-right: min(-20px,(100vw - 1240px)/(-2));
    scroll-snap-type: x mandatory;
    transition: all 1s ease 0s;
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    & {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
  &__container {
    display: flex;
    gap: 16px;
    margin: 0 auto;
    width: max-content;
    position: absolute;
    height: auto;
    //left: min(-20px,(109vw - 1240px)/(-2));
    //right: min(-20px,(105vw - 1240px)/(-2));
    left: 0;
    //scroll-snap-align: center;
    transition: all 1s ease 0s;
    //transform: translate(-3%,0);
  }

  &__block {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }

  &__item {
    display: flex;
    gap: 16px;
  }
}

.block-left, .block-right {
  .gallery__item:first-child{
    align-items: flex-end;
  }
  .gallery__item:last-child{
    align-items: flex-start;
  }
}

.block-mid {
  align-items: center;
  flex-direction: row;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 50px 0;
  border-top: solid 1px #D8D8D8;
  margin-top: 87px;
  .arrow{
    display: none;
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    a{
      color: #616161;
    }
  }

  &__header {
    white-space: nowrap;
    font-weight: 700;
    @include adaptiveFont(24,16);
    color: #000000;
  }

  &__description {
    color: #616161;
  }

  &__address {
    color: #616161;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__phone {
    color: #616161;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__input {
    display: flex;
    gap: 4px;
  }
}

.logo {
}

.block {
  &__item {
    white-space: nowrap;
    color: #616161;
  }
}

.input {
  &__email {
    background: #F4F5F7;
    outline: none;
    border: none;
    padding: 12px;
  }
}

.sendBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
}

.btnOrange {
}
@media (max-width: 1240px){
  .about{
    flex-direction: column;
    height: fit-content;
    gap: 30px;
    padding-top: 160px;
    .btnOrange{
      margin-bottom: 30px;
    }
  }
  .swiperAbout{
    width: 90%;
    margin: 0 auto;
    height: fit-content;
    position: relative;
    inset: 0;
    margin-bottom: 20px;
  }
  .swiper-container{
    flex-direction: column-reverse;
  }
  .swiper-controls{
    margin: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .quality{
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .swiper-pagination{
    background: none;
  }
  .swiper-buttons{
    width: 100%;
    justify-content: space-around;
    align-items: center;
    //padding: 0 35px;
  }
  .merits{
    margin-top: 40px;
  }
  .inspiration{
    flex-direction: column;
    gap: 30px;
    padding-left: max(20px,(100vw - 1240px)/2);
    &__info{
      align-items: center;
    }
    &__slider{
      width: 100%;
      padding: 0 20px;
      margin-bottom: 40px;
      .swiper-button-prev{
        left: 20px;
      }
      .swiper-button-next{
        right: 20px;
      }
      .swiper-paginationIns{
        left: 50%;
        right: 0;
        transform: translateX(-50%);
        bottom: -40px;
      }
    }
    .swiperIns{
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .footer{
    flex-direction: column;
    &__block{
      overflow: hidden;
      height: 30px;
      transition: all .3s ease 0s;
    }
    &__block._active{
      height: auto;
    }
    .arrow{
      display: block;
    }
    .arrow._active{
      transform: rotateX(180deg);
    }
    &__header{
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .sendBtn{
    width: 46px;
    height: 46px;
  }
}
@media (max-width: 932px){
  .header{
    padding: 1.5rem 0;
  }
  .burgerMenu{
    position: fixed;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    transition: all .15s ease 0s;
    background: #F9F1E7;
    z-index: 10;
    padding-top: 60px;
    &__items{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      li{
        font-size: 30px;
      }
    }
    &._active{
      left: 0;
    }
    &__btn{
      display: block;
      position: relative;
      width: 32px;
      height: 24px;
      z-index: 11;
      & span,
      &::before,
      &::after{
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all .15s ease 0s;
        background: #3A3A3A;
      }
      &::before,
      &::after{
        content: '';
      }
      &::before{
        top: 0;
      }
      &::after{
        bottom: 0;
      }
      & span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }
      &._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px,-50%);
      }
      &._active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px,50%);
      }
      &._active span{
        top: 50%;
        transform: scale(0) translate(0px, -50%);
      }
    }
  }
  .submenu {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    transition: all .3s ease 0s;
    &:hover{
      background: inherit;
    }
    &:hover > &__items{
      height: 0;
    }
    &:hover > .arrow{
      transform: none;
    }
    & > &__items{
      inset: 0;
      position: relative;
      background: inherit;
      transition: all .3s ease 0s;
    }
    & > &__items._active{
      height: auto;
      border-top: solid 2px #3A3A3A;
    }
    & > .arrow._active{
      transform: rotateX(180deg);
    }
  }
}
.searchIcon{
  display: none;
}

@media (max-width: 768px){
  .about{
    flex-direction: column;
    padding-top: 170px;
    .swiper-container{
      flex-direction: column-reverse;
      width: 97%;
      margin: 0 auto;
    }
    .swiper-controls{
      margin: 20px 0;
      justify-content: center;
    }
  }
  .quality{
    max-width: unset;
  }
  .swiperAbout{
    inset: 0;
    height: auto;
    position: relative;
    width: 100%;
  }
  .tips{
    .swiper-button-nextTips{
      inset: 0;
      top: auto;
      bottom: 0;
      right: 20px;
      left: auto;
    }
    .swiper-button-prevTips{
      inset: 0;
      top: auto;
      bottom: 0;
      left: 20px;
    }
  }
}
@media (max-width: 560px){
  .header__main{
    gap: 1rem;
  }
  .searchIcon{
    display: block;
  }
  .searchbar{
    position: absolute;
    top: 80px;
    left: -100%;
    margin: 0;
    transition: all .3s ease 0s;

    &__input{
      padding: 12px;
    }
    &:before{
      display: none;
    }
  }
  .searchbar._active{
    left: 20vw;
  }
}
@media (max-width: 400px){
  .header{
    gap: 20px;
    &__main{
      gap: 10px;
    }
    &__profile{
      gap: 12px;
    }
  }
}
@media (prefers-reduced-motion) {
  ._hidden {
    opacity: 0;
    filter: blur(1px);
    transition: all 1s ease-out;
  }
  .header._hidden, .sidebar._hidden {
    transition: all 0.1s ease-out 0s;
  }
  ._show {
    opacity: 1;
    filter: blur(0);
  }
}